* {
    margin: 0;
}

.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 150%);
    display: flex;
    /* padding: 0px 60px; */
}

.hero-left {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    line-height: 1.1;
}

.hero-left h1 {
    color: black;
    font-size: 52px;
    font-weight: 700;
}

.hero-left p {
    font-size: 20px;
    font-weight: bold;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;

}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:1024px) {
    .hero-left {
        padding-left: 80px;
    }
    .hero-left h1{
        font-size: 45px;
    }
    .hero-left p{
        font-size: 15px;
    }
    .hero-button{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-right img{
        width: 400px;
    }
}

@media(max-width:800px) {
    .hero-left {
        padding-left: 30px;
    }
    .hero-left h1{
        font-size: 35px;
    }
    .hero-left p{
        font-size: 12px;
    }
    .hero-button{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right img{
        width: 300px;
    }
}

@media(max-width:500px) {
    .hero{
        flex-direction: column-reverse;
    }
    /* .hero-right{
        display: none;
    } */
    .hero-left h1{
        font-size: 40px;
    }
}